block variables
    include ../config/variables.pug

<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content=twitterAccount)
    meta(property="og:title" content=pageTitle)
    meta(property="og:description" content=pageDescription)
    meta(property="og:image" content=pageImage)
    meta(name="description" content=pageDescription)
    title= `${pageTitle} - ${siteName}`
    link(rel="shortcut icon" href="./img/milton-code-favicon.png")
    link(rel="stylesheet" href="css/styles.css")
    link(href="https://file.myfontastic.com/ZQRJCddF5YbYHR7h4zEoQT/icons.css" rel="stylesheet")
    <link href="https://file.myfontastic.com/Ns2HUcFXczGjmjYCZGqbS4/icons.css" rel="stylesheet">
  body
    header(class="header  l-container--full")
      block header

      nav(class="nav  l-container")
        block nav
          
      div(class=".banner-container  l-container--full")
        block banner

    main(class="main")
      
      section(class="section-gallery  l-container  l-section")
        block section-gallery

      section(class="section-about  l-container--full  l-section")
        block section-about

      section(class="section-contact  l-container  l-section")
        block section-contact

        
    footer(class="footer  l-container--full")
      block footer

    script(src="js/scripts.js")
